<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">
    <select id="selectUserById" resultType="com.example.demo.entity.User">
        select * from user where id = #{id}
    </select>
    <select id="selectUserByName" resultType="com.example.demo.entity.User">
        select * from user where username = #{username}
    </select>
    <select id="selectAll" resultType="com.example.demo.entity.User">
        select * from user
    </select>
    <select id="insertUser" resultType="com.example.demo.entity.User">
        insert into user values(#{id},#{userName},#{password})
    </select>
    <select id="updateUserName" resultType="com.example.demo.entity.User">
        update user set username = #{userName} where id = #{id}
    </select>
    <select id="deleteUserById" resultType="com.example.demo.entity.User">
        delete from user where id = #{id}
    </select>
    <select id="deleteUserByName" resultType="com.example.demo.entity.User">
        delete from user where username = #{username}
    </select>
</mapper>